POSTGRES_USER=n8n
POSTGRES_PASSWORD=troque-esta-senha
# gere com: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
N8N_ENCRYPTION_KEY=troque-esta-chave
WEBHOOK_URL=http://localhost:5678/
